.home-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  
  .home-page-row {
    width: 100%;
  }
  
  .home-page-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .home-page-description {
    font-size: 1.2rem;
    margin: 1rem 0;
  }
  
  .home-page-button {
    margin-top: 1.5rem;
    padding: 0.8rem 1.5rem;
    font-size: 1.2rem;
    border-radius: 20px;
    background-color: #007bff;
    border: none;
  }
  
  .home-page-button:hover {
    background-color: #0069d9;
  }
  